*.sqlite
*.pyc
venv/*
instance/
.venv/
.mypy_cache/
.env

.env
.pytest_cache
__pycache__
.DS_Store
.ruff_cache
.mypy_cache

certs/
.python-version

.vscode

*.pem
!**/tests/fixtures/*.pem

cdk.context.json
*.ipynb
docker/*