[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
cryptography = "*"
uvicorn = {extras = ["standard"] }
typing-extensions = "*"
pyjwt = "*"
asn1crypto = "*"
ib1-directory = "*"
ib1-provenance = "==0.2b"
boto3 = "*"
httpx = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
ruff = "*"
mypy = "*"
responses = "*"

[requires]
python_version = "3.12"
