[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
cryptography = "*"
uvicorn = {extras = ["standard"], version = "*"}
typing-extensions = "*"
pyjwt = "*"
asn1crypto = "*"
ib1-directory = "*"
ib1-provenance = {ref = "main", git = "git+https://${PROVENANCE_INSTALL_TOKEN}@github.com/kipparker/provenance.git"}

[dev-packages]
pytest = "*"
pytest-mock = "*"
httpx = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.12"
