[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pyjwt = "*"
uvicorn = "*"
requests = "*"
python-jose = {extras = ["cryptography"] }
passlib = {extras = ["bcrypt"] }
python-multipart = "*"

[dev-packages]
black = "*"
mypy = "*"
ruff = "*"
types-python-jose = "*"
types-passlib = "*"
types-requests = "*"
httpx = "*"
pytest = "*"
responses = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"
