[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pyjwt = "*"
uvicorn = "*"
requests = "*"
python-jose = {extras = ["cryptography"] }
python-multipart = "*"
httpx = "*"
bcrypt = "*"
cryptography = "*"
redis = "*"
pkce = "*"
boto3 = "*"
pytest-coverage = "*"
asn1crypto = "*"

[dev-packages]
black = "*"
mypy = "*"
ruff = "*"
types-python-jose = "*"
types-requests = "*"
pytest = "*"
responses = "*"
pytest-mock = "*"
click = "*"

[requires]
python_version = "3.12"
